<!DOCTYPE html>

<html>
    <head>
	<title>NMR</title>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


	<link rel="stylesheet" type="text/css" href="/css/style.css">

	</head>

	<header>
	<h2>NOT MY RECIPES</h2>

	<nav>
		<li>Login</li>
		<li>Sign up</li>

	</nav>
</header>

<body>



