<!DOCTYPE html>

<html>
    <head>
	<title>NMR</title>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


	<link rel="stylesheet" type="text/css" href="/css/style.css">

		<script
		  src="https://code.jquery.com/jquery-3.3.1.js"
		  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
		  crossorigin="anonymous">
		  </script>
		  
	</head>

	<header>
	<h2> <a href="/">NOT MY RECIPES</a></h2>

	<nav>
				<% if (typeof currentUser == 'undefined'){%>
					<!-- <li> <a href="/user/submit"> Add new recipe temp</a> </li> -->

					<li> <a href="/login"> Log In </a></li>
					<li> <a href="/register"> Sign Up </a></li>
				<% }else { %>
					<li> <a href="/user/submit"> Add new recipe</a> </li>
					<li> <a href="/user/favorites"> Favorites </a></li>
					<li> Hiya <%=currentUser.username%> </li>
					<li> <a href="/logout"> Logout </a> </li>
					
				<% } %>

	</nav>
</header>

<body>



