<!DOCTYPE html>

<html>
    <head>
	<title>NMR</title>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


	<link rel="stylesheet" type="text/css" href="/css/style.css">

	</head>

	<header>
	<h2> <a href="/">NOT MY RECIPES</a></h2>

	<nav>
				<% if (typeof currentUser == 'undefined'){%>
					<li> <a href="/login"> Log In </a></li>
					<li> <a href="/register"> Sign In </a></li>
				<% }else { %>
					<li> Hiya <%=currentUser.username%> </li>
					<li> <a href="/logout"> Logout </a> </li>
				<% } %>

	</nav>
</header>

<body>



