<% include partials/header %>


<!-- basic layout -->
<!-- basic layout -->
<section class="recipe">

	Approveal page
	<ul>
		<li>add boolean approved for recipes</li>
		<li>add list fo rthis page </li>
		<li>middlewar</li>
		<li>post route to UPDATE boolean</li>
		<li>submit page shoud now add to pending :pending f :approved T </li>
	</ul>

</section>
<!-- basic layout -->
<!-- basic layout -->
<!-- basic layout -->
<!-- basic layout -->
<!-- basic layout -->

<% include partials/footer %>



