<% include partials/header %>


<!-- basic layout -->
<!-- basic layout -->
<section class="recipe">

	Approveal page
	<ul>

		<li>middlewar</li>
		<li>post route to UPDATE boolean</li>
		<li>submit page shoud now add to pending :pending f :approved T </li>
	</ul>

	<div style="display:flex; flex-direction:column">
		<% for(recipe of waitingRecipes){ %>
			<li>
				<a href="/user/recipePreview/<%= recipe._id %>" style="color: #265301;text-decoration: underline">
					<%= recipe.title %> - <%= recipe.category %> 
				</a>
				<button onclick="adminApprove('<%= recipe._id %>')">Approve</button><button>Reject</button>
			</li>	
		<% } %>
	</div>
</section>
<!-- basic layout -->
<!-- basic layout -->
<!-- basic layout -->
<!-- basic layout -->
<!-- basic layout -->

<% include partials/footer %>



