<% include partials/header %>


<!-- basic layout -->
<!-- basic layout -->
<section class="recipe">

	NEW PAGE

</section>
<!-- basic layout -->
<!-- basic layout -->
<!-- basic layout -->
<!-- basic layout -->
<!-- basic layout -->

<% include partials/footer %>



