<% include partials/header%>

<section>
	<div style="display:flex; flex-wrap:wrap; padding:3vw; justify-content: space-evenly">
		<% foundRecipes.forEach(function(recipe){ %>
			<div style="width:15%; padding: 1vw; text-align:center">
				<h3> NEW RECIPE </h3>
				<div>Title: <%= recipe.title %> </div>
				<div>Ingredients:  <%= recipe.ingredients %> </div>
				<div>Rating:  <%= recipe.rating %> </div>
				<div>Instructions:  <%= recipe.instructions %> </div>
			</div>
		<% }) %>
	</div>
</section>