<% include partials/header %>


<!-- basic layout -->
<!-- basic layout -->
<section class="recipe">

	<div class="flex-grid">


		<a  href="/recipes/drinks" class="category">
				<div class="upper">			

					<img src="/assets/drinks_image.jpeg">
				</div>

				<div class="lower">
					<h2>Drinks</h2>
				</div>
		</a>
		<!-- drinks category -->

		<a  href="/recipes/food" class="category">
				<div class="upper">			

					<img src="/assets/food_image.jpeg">
				</div>

				<div class="lower">
					<h2>Food</h2>
					<p>Hungry?<br>Look up recipes on how to cook!</p>
				</div>
		</a>
		<!-- foods category -->

		<a  href="/recipes/dessert" class="category">
				<div class="upper">			

					<img src="/assets/dessert_image.jpeg">
				</div>

				<div class="lower">
					<h2>Desserts</h2>
					<p>Sweets?<br> We got you covered</p>
				</div>
		</a>
		<!-- dessert category -->
	</div>

</section>
<!-- basic layout -->
<!-- basic layout -->
<!-- basic layout -->
<!-- basic layout -->
<!-- basic layout -->

<% include partials/footer %>



