<% include partials/header %>


<header>
	<h2>NOT MY RECIPES</h2>

	<nav>
		<li>123</li>
		<li>456</li>

	</nav>
</header>


<section class="recipe">
	<h2>Whats popular!</h2>

	<div class="grid">

		<% testArray.forEach(function(obj){ %>

			<div>			

					<h2><%= obj.name %></h2>
					<img src="<%= obj.img %>"><img>
					<p><%= obj.title %> </p>

			</div>

		<% }) %>

	</div>


</section>

<!-- <section>
	Main page iddsadsak

		<form action="/api/recipe" method="POST">

			<div>
				<button > Sign up</button>
			</div>
		</form>
</section> -->


<% include partials/footer %>

