<% include partials/header %>


<header>
	<h2>NOT MY RECIPES</h2>

	<nav>
		<li>123</li>
		<li>456</li>

	</nav>
</header>

<section>
	Main page iddsadsak

		<form action="/api/recipe" method="POST">

			<div>
				<button > Sign up</button>
			</div>
		</form>
</section>


<% include partials/footer %>

