<% include partials/header %>


<header>
	<h2>NOT MY RECIPES</h2>

	<nav>
		<li>123</li>
		<li>456</li>

	</nav>
</header>


<section class="recipe">
	<h2>Whats popular!</h2>
	<div>
		<h3>Recipe name</h3>
		<img src="https://tinyurl.com/ybpbelhk"></img>
		<h3> Author</h3>
	</div>

</section>

<!-- <section>
	Main page iddsadsak

		<form action="/api/recipe" method="POST">

			<div>
				<button > Sign up</button>
			</div>
		</form>
</section> -->


<% include partials/footer %>

