<% include partials/header %>

<section class="recipe">

	<div class="flex-grid">


		<a  href="/recipes/drinks" class="category">
				<div class="upper">			

					<img src="/assets/drinks_image.jpeg">
				</div>

				<div class="lower">
					<h2>Drinks</h2>
					<p>Thirsty?<br> brew your drink!</p>
				</div>
		</a>
		<!-- drinks category -->

		<a  href="/food" class="category">
				<div class="upper">			

					<img src="/assets/food_image.jpeg">
				</div>

				<div class="lower">
					<h2>Food</h2>
					<p>Hungry?<br>Look up recipes on how to cook!</p>
				</div>
		</a>
		<!-- foods category -->

		<a  href="/dessert" class="category">
				<div class="upper">			

					<img src="/assets/dessert_image.jpeg">
				</div>

				<div class="lower">
					<h2>Desserts</h2>
					<p>Sweets?<br> We got you covered</p>
				</div>
		</a>
		<!-- dessert category -->
	</div>

</section>



<!-- <section>
	Main page iddsadsak

		<form action="/api/recipe" method="POST">

			<div>
				<button > Sign up</button>
			</div>
		</form>
</section> -->


<% include partials/footer %>

