<% include partials/header %>


<header>
	<h2>NOT MY RECIPES</h2>

	<nav>
		<li>123</li>
		<li>456</li>

	</nav>
</header>




<section class="recipe">

	<div class="flex-grid">

		<div class="category">

				<div class="upper">			
					<span class="fa-stack fa-4x">
						<i class="fas fa-circle fa-stack-2x" style="color:black"></i>
						<i class="fas fa-utensils fa-stack-1x fa-inverse"></i>
					</span>
				</div>

				<div class="lower">
					<h2>Food</h2>
					<p>Hungry?<br>Look up recipes on how to cook!</p>
				</div>
				
		</div>

	</div>

</section>



<!-- <section>
	Main page iddsadsak

		<form action="/api/recipe" method="POST">

			<div>
				<button > Sign up</button>
			</div>
		</form>
</section> -->


<% include partials/footer %>

