<% include partials/header %>


<!-- basic layout -->
<!-- basic layout -->
<section class="recipe">

	<div><%= foundRecipe.title %></div>
	<div><%= foundRecipe.category %></div>
	<div><%= foundRecipe.id%></div>
	<img src="<%= foundRecipe.image_link %>">

	<button>Approve</button>
	<button>Reject</button>
</section>
<!-- basic layout -->
<!-- basic layout -->
<!-- basic layout -->
<!-- basic layout -->
<!-- basic layout -->

<% include partials/footer %>



