<% include partials/header%>

<section>
	<div style="display:flex; flex-wrap:wrap; padding:3vw; justify-content: space-evenly; ">
		<% foundRecipes.forEach(function(recipe){ %>
			<div style="background-color: green; width:25%; padding: 2vw ">
				<h3> NEW RECIPE </h3>
				<img src="<%= recipe.image_link %>" style="width:100%; height:50%;">
				<div>Title: <%= recipe.title %> </div>

					<div>Ingredients:  
						<% recipe.ingredients.forEach(function(ingredient){ %>
							<%= ingredient %> 
							<br>
						<% }) %> 
					</div>

					<div>Instructions:  
						<% recipe.instructions.forEach(function(instruction){ %>
							<%= instruction %> 
							<br>
						<% }) %> 
					</div>

			</div>
		<% }) %>
	</div>
</section>