<% include partials/header %>

<div class="container">
	<div align="center" >

		<form action="/register" method="POST">
			<div>
				<input id="username" type="text" name="username" placeholder="Username"> 
			</div>
			<span id="errmsg"></span>
			<p></p>
			<div>
				<input id="password" type="text" name="password" placeholder="Password">
			</div>
			<p></p>
			<div>
				<button id="submitbtn"> Sign Up </button>
			</div>
		</form>
	</div>
</div>

<%include partials/footer %>
