<% include partials/header %>

	<form action="/user/upload" method="POST" enctype="multipart/form-data">


			<input type="file" name="fileName" placeholder="Filename">


			<button > Upload file</button>

	</form>

<% include partials/footer %>
