*{
	margin:0;
	padding:0;
	/*box-sizing:border-box;*/
}
html{
	height: 100%;
}
body{
	background-color: #E8F0F6;
	margin:0;
	height:100%;
	/*margin-bottom: 50px;*/
}

header{

	background-color: #00724A;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:35px 100px 0;

}
header nav li{
	margin:0 15px;
}

li{
	list-style: none;
}

nav{
	display: flex;
	float: right;
}

section{
	display: flex;
	height: auto;
	flex-direction:column;
	align-items:center;

}


/*///////*/
/*recipe*/
/*//////*/
.recipe{
	text-align: center;
	margin-top: 1em;
	width: 100%;
	height: 100%;
  /*flex-flow:row wrap;}*/
}

.recipe .flex-grid {
	/*width:100%;*/
	min-height: 200px;
	min-width: 100px;
	height: 80%;
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
}

.recipe .flex-grid .category {
	background-color: red;
	flex:1;
}

.flex-grid .category div{
	padding: 1%;
}



